@CHARSET "UTF-8";

body {
	
}

#companyCRUDtable, #companyBTNtable {
	width: 85%;
	max-width: 400px;
	border: none;
}

#companyCRUDtable tbody tr td:nth-child(1) {
	min-width: 60px;
}

#companyCRUDtable tbody tr td:nth-child(3), .errorMessage {
	color: red;
	min-width: 100px;
}

#companyCRUDtable tbody tr td:nth-child(1) {
	padding-right: 5px;
	text-align: right;
}

.resultTable tbody tr:HOVER {
	cursor: pointer;
	background-color: #E8CCFF;
}

.resultTable td {
	padding: 1px 10px;
}