@CHARSET "UTF-8";

#companyCRUDtable tbody tr td:nth-child(3), .errorMessage {
	color: red;
	min-width: 100px;
}

#companyCRUDtable tbody tr td:nth-child(1) {
	padding-right: 5px;
	text-align: right;
}

.resultTable, .resultTable tr {
	border-collapse: collapse;
	cursor: default;
}

.resultTable tbody tr:HOVER {
	cursor: pointer;
	background-color: #E8CCFF;
}

.resultTable td {
	padding: 1px 10px;
}