@CHARSET "UTF-8";

#calculatorMachine {
	border: 2px solid #5599FF;
	text-align: center;
	background-color: #CCDDFF;
	font-family: "標楷體";
	padding: 5px;
}

#calculatorMachine tbody tr td {
	border: 2px solid #5599FF;
	padding: 0px;
}

#calculatorMachine tbody tr td input[type="button"] {
	width: 50px;
	height: 50px;
	background-color: #CCDDFF;
	cursor: pointer;
}

#calculatorMachine thead tr th input[type="text"] {
	width: 230px;
	height: 50px;
}

#MathExam001Table {
	text-align: right;
	color: green;
}

#MathExam001Table tr td:nth-child(2) {
	min-width: 150px;
}